.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    width: 200px;
    position: relative;
}

.userInput {
    height: 20px;
    padding: 3px;
    border: 1px black solid;
    border-radius: 5px;
}

.hide {
    display: none;
}

.err {
    position: absolute;
    color: red;
    top: 35px;
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
    padding: 5px;
}

.outlineRed {
    outline: 1px solid red;
}

.noOutline {
    outline: none;
}

/* Responsiveness */

@media (max-width: 426px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 95vw;
    }

    .err {
        position: static;
    }
}