.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}

.userInput {
    height: 20px;
    padding: 3px;
    border: 1px black solid;
    border-radius: 5px;
}

.err {
    color: red;
}

.outlineRed {
    outline: 1px solid red;
}

.noOutline {
    outline: none;
}