.App {
    margin-left: 5px;
    margin-top: 5px;
}

.topBar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.topBar .button {
    height: 20px;
    padding: 3px;
    border: 1px white solid;
    border-radius: 5px;
    background-color: rgb(2, 191, 2);
    color: white;
}

.topBar .button:hover {
    cursor: pointer;
    background-color: rgb(3, 219, 3);
}

.displayedEvents {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bold {
    font-weight: bold;
}

.displayedEvent {
    display: flex;
    gap: 5px;
}

.displayedEvent button {
    cursor: pointer;
}

/* Responsiveness */

@media (max-width: 426px) {
    .topBar {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .displayedEvent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .displayedEvent button {
        width: fit-content;
    }
}